<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="android.carpooldriver">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".StartFromLogIn.InitialScreenActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".StartFromLogIn.LogInActivity"/>
        <activity android:name=".StartFromLogIn.MakeAccountActivity"/>
        <activity android:name=".StartFromLogIn.ForgotPasswordActivity"/>
        <activity android:name=".BottomNavigationMainActivity"/>
        <activity android:name=".CarpoolRiderRequests.IndividualRiderTicketActivity"/>
        <activity android:name=".Settings.OpenSourceLicenseActivity"/>
        <activity android:name=".Settings.EmailActivity"/>
        <activity android:name=".Settings.Profile.ProfileActivity"/>
        <activity android:name=".Settings.Password.CurrentPasswordActivity"/>
        <activity android:name=".Settings.Password.NewPasswordActivity"/>
        <activity android:name=".Settings.PhoneNumberActivity"/>
        <activity android:name=".PostCarpool.PostCarpoolRouteActivity"/>
        <activity android:name=".PostCarpool.PostCarpoolConfirmActivity"/>
        <activity android:name=".PostCarpool.PostCarpoolDateActivity"/>
        <activity android:name=".PostCarpool.PostCarpoolTimeActivity"/>
        <activity android:name=".PostCarpool.PostCarpoolSeatsActivity"/>
        <activity android:name=".Settings.Profile.ProfileEditPhoneNumberActivity"/>
        <activity android:name=".Settings.Profile.ProfileEditCarModelActivity"/>
        <activity android:name=".Settings.Profile.ProfileEditNameActivity"/>
        <activity android:name=".StartFromLogIn.CreateAccount.CreateAccountDriversLicense"/>
        <activity android:name=".StartFromLogIn.CreateAccount.CreateAccountCarType"/>
        <activity android:name=".StartFromLogIn.CreateAccount.CreateAccountPhoneNumber"/>
        <activity android:name=".StartFromLogIn.CreateAccount.CreateAccountPassword"/>
        <activity android:name=".StartFromLogIn.CreateAccount.CreateAccountEmail"/>
        <activity android:name=".StartFromLogIn.CreateAccount.CreateAccountName"/>
        <activity android:name=".AcceptedCarpoolRequestActivity"/>
        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>