<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="android.carpooldriver">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".StartFromLogIn.InitialScreenActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".AppFragment.ACarpoolRiderRequests.content.IndividualRiderTicketActivity"/>
        <activity android:name=".AppFragment.BPostCarpool.content.PostCarpoolConfirmActivity"/>
        <activity android:name=".AppFragment.BPostCarpool.content.PostCarpoolDateActivity"/>
        <activity android:name=".AppFragment.BPostCarpool.content.PostCarpoolRouteActivity"/>
        <activity android:name=".AppFragment.BPostCarpool.content.PostCarpoolSeatsActivity"/>
        <activity android:name=".AppFragment.BPostCarpool.content.PostCarpoolTimeActivity"/>
        <activity android:name=".AppFragment.ACarpoolRiderRequests.content.AcceptedCarpoolRequestActivity"/>
        <activity android:name=".AppFragment.ESettings.content.Password.CurrentPasswordActivity"/>
        <activity android:name=".AppFragment.ESettings.content.Password.NewPasswordActivity"/>
        <activity android:name=".AppFragment.ESettings.content.payment.PaymentActivity"/>
        <activity android:name=".AppFragment.ESettings.content.Profile.ProfileActivity"/>
        <activity android:name=".AppFragment.ESettings.content.Profile.ProfileEditCarModelActivity"/>
        <activity android:name=".AppFragment.ESettings.content.Profile.ProfileEditNameActivity"/>
        <activity android:name=".AppFragment.ESettings.content.Profile.ProfileEditPhoneNumberActivity"/>
        <activity android:name=".AppFragment.ESettings.content.EmailActivity"/>
        <activity android:name=".AppFragment.ESettings.content.OpenSourceLicenseActivity"/>
        <activity android:name=".AppFragment.ESettings.content.PhoneNumberActivity"/>
        <activity android:name=".AppFragment.BottomNavigationMainActivity"/>

        <activity android:name=".StartFromLogIn.CreateAccount.WhySelectiveEmail.WhySelectiveEmail"/>
        <activity android:name=".StartFromLogIn.CreateAccount.DCreateAccountCarType"/>
        <activity android:name=".StartFromLogIn.CreateAccount.ECreateAccountDriversLicense"/>
        <activity android:name=".StartFromLogIn.CreateAccount.BCreateAccountEmail"/>
        <activity android:name=".StartFromLogIn.CreateAccount.ACreateAccountName"/>
        <activity android:name=".StartFromLogIn.CreateAccount.CCreateAccountPassword"/>
        <activity android:name=".StartFromLogIn.CreateAccount.ZCreateAccountPhoneNumber"/>
        <activity android:name=".StartFromLogIn.ForgotPasswordActivity"/>
        <activity android:name=".StartFromLogIn.LogInActivity"/>
        <activity android:name=".StartFromLogIn.MakeAccountActivity"/>





        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>