<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="android.carpooldriver">

    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.permission.RECEIVE_SMS" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Initial.InitialActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".NavigationDrawerMainActivity"/>
        <activity android:name=".Fragments.AllAvailableCarpoolTicketsFragment.CarpoolRiderRequestsContent.IndividualRiderTicketActivity"/>
        <activity android:name=".Fragments.PostCarpoolFragment.PostCarpoolContent.PostCarpoolConfirmActivity"/>
        <activity android:name=".Fragments.PostCarpoolFragment.PostCarpoolContent.PostCarpoolDateActivity"/>
        <activity android:name=".Fragments.PostCarpoolFragment.PostCarpoolContent.PostCarpoolRouteActivity"/>
        <activity android:name=".Fragments.PostCarpoolFragment.PostCarpoolContent.PostCarpoolSeatsActivity"/>
        <activity android:name=".Fragments.PostCarpoolFragment.PostCarpoolContent.PostCarpoolTimeActivity"/>
        <activity android:name=".Fragments.SettingsFragment.SettingsContent.PasswordActivities.CurrentPasswordActivity"/>
        <activity android:name=".Fragments.SettingsFragment.SettingsContent.PasswordActivities.NewPasswordActivity"/>
        <activity android:name=".Fragments.SettingsFragment.SettingsContent.PaymentActivities.PaymentActivity"/>
        <activity android:name=".Fragments.SettingsFragment.SettingsContent.ProfileActivities.ProfileActivity"/>
        <activity android:name=".Fragments.SettingsFragment.SettingsContent.ProfileActivities.ProfileEditCarModelActivity"/>
        <activity android:name=".Fragments.SettingsFragment.SettingsContent.ProfileActivities.ProfileEditNameActivity"/>
        <activity android:name=".Fragments.SettingsFragment.SettingsContent.ProfileActivities.ProfileEditPhoneNumberActivity"/>
        <activity android:name=".Fragments.SettingsFragment.SettingsContent.EmailActivity"/>
        <activity android:name=".Fragments.SettingsFragment.SettingsContent.OpenSourceLicenseActivity"/>
        <activity android:name=".Fragments.SettingsFragment.SettingsContent.PhoneNumberActivity"/>

        <activity android:name=".Initial.CreateAccount.CreateAccountCarTypeActivity"/>
        <activity android:name=".Initial.CreateAccount.CreateAccountDriversLicenseActivity"/>
        <activity android:name=".Initial.CreateAccount.CreateAccountEmailActivity"/>
        <activity android:name=".Initial.CreateAccount.CreateAccountNameActivity"/>
        <activity android:name=".Initial.CreateAccount.CreateAccountPasswordActivity"/>
        <activity android:name=".Initial.CreateAccount.CreateAccountPhoneNumberActivity"/>
        <activity android:name=".Initial.ForgotPasswordActivity"/>
        <activity android:name=".Initial.LogInActivity"/>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />

        <receiver android:name=".SMSReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="android.provider.Telephony.SMS_RECEIVED"/>
            </intent-filter>
        </receiver>

    </application>

</manifest>